services:
  redis:
    image: redis:latest
    container_name: redis
    env_file:
      - .env
    command:
      - redis-server
      - --requirepass
      - ${REDIS_PASSWORD}
      - --loglevel
      - warning
      - --appendonly
      - "yes"
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", 'redis-cli -a "$REDIS_PASSWORD" ping | grep -q PONG']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  redis_data:
    driver: local
