.chatSidebarContainer {
  height: 100vh;
  width: 260px;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 10px;

  @media screen and (max-width: 768px) {
    width: 180px;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .newChatBtn {
      padding: 5px 10px;
      border: 1px solid #a3a3a3;
      background: transparent;
      font-size: 14px;
      color: #252525;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background: #d6d6d6d7;
      }

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .closeSidebarBtn {
      display: flex;
      padding: 6px;
      border: none;
      background: transparent;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background: #d6d6d6d7;
      }
    }
  }

  .threadList {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 7px 5px;

    /* Для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #bebebe transparent;

    /* Для Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #bebebe;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
      background: #afafaf;
    }

    .threadBtn {
      flex-shrink: 0;
      padding: 8px 20px 8px 8px;
      cursor: pointer;
      border-radius: 8px;
      background: none;
      border: none;

      font-size: 14px;
      color: #252525;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;

      transition: box-shadow 0.2s ease;

      &.active {
        box-shadow: 0 1px 5px #797979;
      }

      &:hover {
        background: #d6d6d6d7;
      }

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}

.contextMenu {
  position: fixed;
  display: flex;
  width: max-content;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px;
  z-index: 100;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  .itemBtn {
    background: none;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 6px;

    font-size: 12px;
    color: #000;

    &:hover {
      background: #f3f3f3;
    }
  }
}
