.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #fdfbfb;
  color: #313131;
}

.chatArea {
  max-width: 800px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin: 0 auto;

  padding: 50px 0;
}

.messagesContainer {
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: #bebebe transparent;

  /* Для Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #afafaf;
  }

  .messageRow {
    flex-shrink: 0;
    display: flex;
    max-width: 70%;
    max-height: fit-content;
    overflow: hidden;

    &.user {
      padding: 5px 10px 5px 20px;
      border-radius: 10px;
      align-self: flex-end;
      background: #4d4d4d2d;
    }
    &.ai {
      align-self: flex-start;
    }

    .content {
      max-width: 100%;

      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

.inputFormContainer {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;

  border-radius: 20px;

  background: #e9e9e9;

  .inputHelpersContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: none;

    .submitBtn {
      padding: 5px;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      cursor: pointer;

      &:hover {
        background: #24242418;
      }

      &:active {
        background: #0000003f;
      }
    }
  }
}
